<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='ad-action.css')}}">
    <title>Document</title>
    <style type=text/css > 
    
        header * {
        display: grid;
        }
        header li {
        margin: 10px;
        }
        
    </style>   
</head>
<body>
    <h1 style="text-align: center; color: aliceblue;">Welcome to Admin page</h1><br><br>
    <form>

       <div style="text-align: center; color: rgb(224, 233, 240); font-size: large;" >
   
           <p><a href="{{url_for('newuser')}}" style="text-align: center; color: rgb(224, 233, 240)"> Create a account for new customer </a></p><br>
           <p><a href="#" style="text-align: center; color: rgb(224, 233, 240)"> Amount Transaction </a></p><br>
           <p><a href="{{url_for('user_details')}}" style="text-align: center; color: rgb(224, 233, 240)"> Total Customer Details </a></p><br>
       </div>

    </form>
   
</body>
</html>